section.main 
    .container 
        h1.main__name Anna Linevich
        h2.main__title About me
        .main__content
            p Education: HTML/CSS courses in IT Shatle - 2022
            p Hobbies: board games, reading, travelling